data/*
checkpoints/*
preproc/*
preproc5channel/*
.cursor-server/*
wandb/*
preproc2/*
models/_pycache/*
notes.md
datareal/*
tensorboard_logs/*
preproc_synapses/*
final_synapse_visualizationfinal/*
.git-credentials
